<!DOCTYPE html>
<html>
    <head>
            
        <meta charset="utf-8" />
        
        <title>
            hotelAPP
        </title>

        <link rel="stylesheet" href="Style/style.css">
  
    </head>
    <body bgcolor="#ABFFF1"> 
    <header>
            <img src="Imagenes/avatar.jpg" width="200px" height="167px" />
        <nav>
                <ul>
                  
                     
                     <li><a href="index.html">Inico</a></li>
                     <li><a href="mision.html">Mision</a></li>
                     <li><a href="vision.html">Vision</a></li>
                 
                 </ul>
        </nav>

            <h1><font color="black" face="AtomicRobus"> DESTINOS QUE TE PUEDEN GUSTAR </font></h1>
        </header>
        <section id="center">
          <h1>galeria</h1>
          <center>
          <video src= "videos/1.mp4"   controls class="video"></video>
         
        </center>
        
         
         

        </section>

             <h2><font color="black" face="AtomicRobus"> IMAGENES</h2> </font><br>
            <h2><font color="black" face="Algerian"> Nayara Hotel, Spa & Gardens</font></h2>
            <img src="Imagenes/Nayara Hotel, Spa & Gardens.jpg" width="1400px" height="500px" />
            <aside>
                    <h2><font color="black" face="Angelita"> Servicios destacados del alojamiento </font></h2> 
                    <h4><li> zona de estar que incluye un jardín privado e independiente.</li>
                        <li>ducha al aire libre y balcón con vitrina de cristal.</li>
                        <li> cama doble o extra grande, </li>
                        <li>  TV vía satélite, </li>
                        <li> equipo de alta fidelidad,</li>
                        <li>  conexión a Internet, </li>
                        <li> caja fuerte, </li>
                        <li> minibar </li>
                        <li>  cafetera/tetera.</li></h4>
                  
                <h4> El hotel esta a 6 km de la ciudad de Fortuna y del parque nacional del volcán Arenal.
                Su ubicación central permite a los huéspedes visitar los principales lugares de interés de la región
                 en menos de 20 minutos, como las fuentes termales, 
                 cascadas y el parque nacional del volcán Arenal.
                 Este elegante establecimiento está rodeado de un bosque tropical y de amplios jardines tropicales, 
                 que cubren el recinto. 
                 El hotel cuenta con 24 alojamientos construidos de forma separada.
                 Cada uno de los amplios alojamientos ofrece una.</h4>
                
            </aside>
              
            
             <h2><font color="black" face="Algerian">Hotel Estalagem St Hubertus </font></h2>
            <img src="Imagenes/Hotel Estalagem St Hubertus.jpg" width="1400px" height="500px" />

            <h2><font color="black" face="Angelita"> Servicios destacados del alojamiento </font></h2> 
        <h4>  <li> Desayuno incluido</li>
          <li> Aparcamiento gratis</li>
          <li> Wifi gratis</li>
          <li> Restaurante</li>
          <li> Piscina cubierta</li>
          </h4>
 
<h4>Este hotel de ambiente romántico cuenta con una buena ubicación en la zona de Bairro Lago Negro,
a menos de 2 kilómetros de Parque do Lago Negro y Mini Mundo. 
Parque das Orquídeas y Aldea de Santa Claus también están a menos de 3 kilómetros.
Características del hotel
Además de un restaurante, este hotel cuenta con una piscina cubierta y un gimnasio.
Podrás disfrutar de un desayuno bufé gratuito, wifi gratis en las zonas comunes y aparcamiento sin asistencia gratuito. 
Otras instalaciones incluyen una cafetería, un baño turco y café o té en las zonas comunes.
Servicios y comodidades de las habitaciones
Las 30 habitaciones con sistema de insonorización disponen de wifi gratis y minibar.
Para los ratos de ocio, tienes televisión LCD con canales por cable. 
También apreciarás toques extra como albornoces o zapatillas.</h4>



<h2><font color="black" face="Algerian">The Upper House</font></h2>
            <img src="Imagenes/The Upper House.jpg" width="1400px" height="500px" />

            <h2><font color="black" face="Angelita"> Servicios destacados del alojamiento </font></h2> 
         <h4> <li>  Consigna de equipaje</li>
          <li>Servicio de lavandería</li>
          <li>Limpieza diaria</li>
          <li>Conserje</li>
          <li>Asistencia turística y para la compra de entradas</li>
          <li>Atención multilingüe</li>
          <li>Portero o botones</li></h4>


           <h4> El establecimiento ofrece un servicio de traslado desde el aeropuerto (es posible que se apliquen cargos adicionales). 
                Los huéspedes deberán proporcionar al establecimiento los datos de su llegada a través de la información de contacto,
                que figura en la confirmación de reserva, 
                72 horas antes de la llegada.
                El establecimiento ofrece alojamiento gratuito a un máximo de un niño de hasta 11 años,
                siempre que ocupe la misma habitación que sus padres o tutores,
                utilizando las camas existentes.</h4>
           

            
      
        <footer>
                <font color="black" face="Playball">
            
            <div id="up">
                <p>AYLYN</p>
                <p>Programación de software</p>
            </div>
            <div id="down">
                <p>Todos los derechos reservados</p>
                <p>2019</p>
            </div>
        </footer>

    </body>
</html>
