<!DOCTYPE html>
<html>
    <head>
            
        <meta charset="utf-8" />
        <title>
            hotelAPP
        </title>

        <link rel="stylesheet" href="Style/style.css">
  
    </head>
    <body bgcolor="#ABFFF1"> 
    <header>
            <img src="..Imagenes/avatar.jpg" width="200px" height="167px" />
        <nav>
                <ul>
                  
                     
                     <li><a href="index.html">Inico</a></li>
                     <li><a href="mision.html">Mision</a></li>
                     <li><a href="vision.html">Vision</a></li>
                 
                 </ul>
        </nav>
            
    </body>
</header>

<font color="#000080" face="Great Vibes">
        <marquee> <p> <font><b><i> <h1>HOTELAPP</h1></i></b> </font> </p></marquee>
        <marquee> <p><h1> (la mejor forma de administrar tu hotel)</h1></p></marquee>
 </font>

    <section>
            <p>
 <font color="#FF5B64" face="Vineta BT">
   <h2> <B><font> Bienvenidos a este <strong>sitio web</strong> el cual  esta dedicado a <em>hotelAPP</em></font></B></h2>
</font><br>
   <h4><B>la pagina web dirigida a aquellos administradores de hoteles los cuales su sistema de registro es algo anticuado y no les es eficiente,</B></h4>
   <h4><B>esta pagina podra facilitar un poco la forma de registrar la informacion del usuario, la informacion de las habitaciones</B></h4> 
   <h4><B><h4> realizar  la reserva de la habitacion el registro de una nueva habitacion y el registro de usuario </B></h4>
   <h4><B> como punto extra nuestrapagina brinda informacion sobre los mejores hoteles y los mas visitado,recomendando los destinos que te pueden gustar</B></h4>
   <h4><B> Características del sistema:</p></B></h4>
       
   
            <h4><B> <li>- Información del usuario</li></B></h4>
            <h4><B><li>- Lista de usuarios</li></B></h4>
            <h4><B><li>- Información de la habitación</li></B></h4>
            <h4><B><li>- Reserva de habitación</li></B></h4>
            <h4><B><li>- Registro de habitación</li></B></h4>
            <h4><B><li>- Registro de usuario</li></B></h4>
            
            
           
            
    </section>  
    
      
                <body>
               
                  
        <section>
                <font color="#000080" face="Footlight MT Light">
                    COMO INFORMACION EXTRA
                </body>
                <p>Tambien te puede interesar este pequeño sectmento sobre los</p>
             <p> <a href="Destinos que te pueden gustar.html">Destinos que te pueden gustar aqui </a> </p>
               
               
            </p>


           
        </section>

        
        
        
       
        <footer>
                <font color="black" face="Playball">
            
            <div id="up">
                <p>AYLYN</p>
                <p>Programación de software</p>
            </div>
            <div id="down">
                <p>Todos los derechos reservados</p>
                <p>2019</p>
            </div>
        </footer>

    </body>
</html>

