<!DOCTYPE html>
<html>
    <head>
            
        <meta charset="utf-8" />
        <title>
            hotelAPP
        </title>

        <link rel="stylesheet" href="Style/style.css">
  
    </head>
    <body bgcolor="#ABFFF1"> 
    <header>
            <img src="Imagenes/avatar.jpg" width="200px" height="167px" />
        <nav>
                <ul>
                  
                     
                     <li><a href="index.html">Inico</a></li>
                     <li><a href="mision.html">Mision</a></li>
                     <li><a href="vision.html">Vision</a></li>
                 
                 </ul>
        </nav>
            
    </body>
</header>

<font color="#000080" face="Great Vibes">
        <marquee> <p> <font><b><i> <h1>HOTELAPP</h1></i></b> </font> </p></marquee>
        <marquee> <p><h1> (la mejor forma de administrar tu hotel)</h1></p></marquee>
 </font>

    <section>
            <p>
 <font color="#FF5B64" face="Vineta BT">
   <h2> <B><font> Bienvenidos a este <strong>sitio web</strong> el cual  esta dedicado a <em>hotelAPP</em></font></B></h2>
                                         <h2><b><font>MISION</font></b></h2>
</font><br>

   <h4><B>Nuestra mision es  mejorar esa necesidad de a aquellos administradores de hoteles de este tiempo los cuales  lamentablemente </h4></b>
   <h4><b>tienen un problema, y es que su sistema de registro es algo anticuado y no les es eficiente, ocasionando algunos problemas no solo </B></h4>
   <h4><B>para ellos sino tambien para sus usuarios generandole desafortunadamente mala fama a su hotel, dado que pensamos en eso, desidimos  </B></h4> 
   <h4><B>relizar esta pagina, ya que podra facilitar un poco la forma de registrar la informacion del usuario,la informacion de las habitaciones,</B></h4>
   <h4><B>realizar sus respectivas reservas, tambien le permitira realizar el registro de una nueva habitacion y el registro de un nuevo usuario, </B></h4>
   <h4><B>mostrando las listas de los usuarios registrados y la informacion de las habitaciones,</B></h4>
   <h4><b>como punto extra y pensando en nuestros usuarios nuestra pagina brinda informacion sobre los hoteles que an sido visitados atravez del mundo </B></h4>
   <h4><b>con muy buenas criticas hasta este año(2019), puede observar estos hoteles dando click acontinuacion, </b></h4>
   <h4><b><p><a href="Destinos que te pueden gustar.html">Destinos que te pueden gustar aqui n.n </a> </p></b></h4>
            
    
       
        <footer>
                <font color="black" face="Playball">
            
            <div id="up">
                <p>AYLYN</p>
                <p>Programación de software</p>
            </div>
            <div id="down">
                <p>Todos los derechos reservados</p>
                <p>2019</p>
            </div>
        </footer>

    </body>
</html>

