<!DOCTYPE html>
<html>
    <head>
            
        <meta charset="utf-8" />
        <title>
            hotelAPP
        </title>

        <link rel="stylesheet" href="Style/style.css">
  
    </head>
    <body bgcolor="#ABFFF1"> 
    <header>
            <img src="Imagenes/avatar.jpg" width="200px" height="167px" />
        <nav>
                <ul>
                  
                     
                     <li><a href="index.html">Inico</a></li>
                     <li><a href="mision.html">Mision</a></li>
                     <li><a href="vision.html">Vision</a></li>
                 
                 </ul>
        </nav>
            
    </body>
</header>

<font color="#000080" face="Great Vibes">
        <marquee> <p> <font><b><i> <h1>HOTELAPP</h1></i></b> </font> </p></marquee>
        <marquee> <p><h1> (la mejor forma de administrar tu hotel)</h1></p></marquee>
 </font>

    <section>
            <p>
 <font color="#FF5B64" face="Vineta BT">
   <h2> <B><font> Bienvenidos a este <strong>sitio web</strong> el cual  esta dedicado a <em>hotelAPP</em></font></B></h2>
</font><br>
   <h4><B>Nosotros queremos llegar muy lejos,e ir avanzando mas para poder ayudar a aquellas personas que lamentable mente no cuentan con un software </B></h4>
   <h4><b>adecuado para poder observar la informacion de los usuario, relisar las reservas de las habitaciones, realizar los  </b></h4>
   <h4><b>registros de usuarios , queremos facilitar esas tareas, para que nuestros usuarios no se compliquen tanto</b></h4>
   <h4><b>y poder evitar futuros problemas en su hotel</b></h4>   
            
   <h4><b>esperamos que nuestros servivios sean de su ayuda, y puedan utilizarlos sin ningun problema</b></h4>
   <h4><b>y nos ayude a creser dia a dia con sus comentarios y sus criticas, reportanonos cualquier problema
   <h4><b>a nuestro correo <font color="purple">hotelapp365@gmail.com</font></b></h4></b></h4>

   <h4><b>acontinuacion vera nuestras funciones basicas:</b></h4>
            <h4><B> <li>- Información del usuario</li></B></h4>
            <h4><B><li>- Lista de usuarios</li></B></h4>
            <h4><B><li>- Información de la habitación</li></B></h4>
            <h4><B><li>- Reserva de habitación</li></B></h4>
            <h4><B><li>- Registro de habitación</li></B></h4>
            <h4><B><li>- Registro de usuario</li></B></h4>

            <h4><b>tambien puedes ver los <h4><b><p><a href="Destinos que te pueden gustar.html">Destinos que te pueden gustar aqui n.n </a> </p></b></h4></b></h4>
    </section> 
                <body>
               
                  
        <section>
                <font color="#000080" face="Footlight MT Light">
                    COMO INFORMACION EXTRA
                </body>
                <p>Tambien brinda informacion sobre los hoteles mas visitados y los destinos que te pueden gustar</p>
                <p>puedes ver los <a href="hoteles mas visitados.html">hoteles mas visitados  aqui </a> </p>
                <p>o tambien los <a href="Destinos que te pueden gustar.html">Destinos que te pueden gustar aqui </a> </p>
               
               
            </p>
           
        </section>
        
       
        <footer>
                <font color="black" face="Playball">
            
            <div id="up">
                <p>AYLYN</p>
                <p>Programación de software</p>
            </div>
            <div id="down">
                <p>Todos los derechos reservados</p>
                <p>2019</p>
            </div>
        </footer>

    </body>
</html>

